.log
.DS_Store
.jest-*
lib
node_modules
npm-debug.log
lerna-debug.log
.nyc_output
logfile.log
logfile.test.log
coverage/
kafka.log
launchpad
yarn-error.log
docs/
tsconfig.tsbuildinfo
dump.rdb
.scannerwork
tests